{% extends 'base.html' %}
{% load static %}

{% block title %} Register Page {% endblock %}


{% block content %}
    <body class="blog-page">
    <main class="main">
        <!-- Page Title -->
        <div class="page-title" style="background-image: url({% get_media_prefix %}img/page-title-bg.jpg);">
            <div class="container position-relative">
                <h1>Register Page</h1>
                <nav class="breadcrumbs">
                    <ol>
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li class="current">Register</li>
                    </ol>
                </nav>
            </div>
        </div><!-- End Page Title -->
        <!-- Blog Posts Section -->
        <section id="blog-posts" class="blog-posts section">
            <div class="container">
                <div class="row gy-4">
                    <center>
                        <div class="col-lg-6">
                            <form action="{% url 'register' %}" method="POST">
                                {% csrf_token %}
                                <div class="form-row">
                                    <div class="col form-group">
                                        {{ form.first_name }}
                                    </div>
                                    <br><!-- form-group end.// -->
                                    <div class="col form-group">
                                        {{ form.last_name }}
                                    </div>
                                    <br><!-- form-group end.// -->
                                </div> <!-- form-row end.// -->
                                <div class="form-row">
                                    <div class="form-group col-sm-12">
                                        {{ form.email }}
                                    </div>
                                    <br><!-- form-group end.// -->
                                </div> <!-- form-row.// -->
                                <div class="form-row">
                                    <div class="form-group col-sm-12">
                                        {{ form.password }}
                                    </div>
                                    <br><!-- form-group end.// -->
                                    <div class="form-group col-sm-12">

                                        {{ form.confirm_password }}
                                    </div> <!-- form-group end.// -->
                                </div>
                                <br>
                                <div class="form-group" >
                                    <button type="submit" class="btn btn-success btn-block"> Register</button>
                                </div> <!-- form-group// -->
                            </form>
                        </div>
                    </center>
                </div>
            </div>
        </section><!-- /Blog Posts Section -->

{% endblock %}