{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}

{% block title %} Blogs Page {% endblock %}

{% block content  %}
<body class="blog-page">
  <main class="main">
    <!-- Page Title -->
    <div class="page-title" style="background-image: url({% get_media_prefix %}img/page-title-bg.jpg);">
      <div class="container position-relative">
        <h1>Blog</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li class="current">Blog</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->
    <!-- Blog Posts Section -->
    <section id="blog-posts" class="blog-posts section">
      <div class="container">
        <div class="row gy-4">
          {% for post in all_post %}
          <div class="col-lg-4 p-2">
            <article class="position-relative h-100">
              <div class="post-img position-relative overflow-hidden">
                <img src="{{ post.image|thumbnail_url:'blog' }}" class="img-fluid" alt="">
                <span class="post-date">{{ post.date_posted }}</span>
              </div>
              <div class="post-content d-flex flex-column">
                <h3 class="post-title">{{ post.title }}</h3>
                <div class="meta d-flex align-items-center ">
                  <div class="d-flex align-items-center">
                    <i class="bi bi-person"></i> <span class="ps-2">{{ post.author }}</span>
                  </div>
                  <span class="px-3 text-black-50">/</span>
                  <div class="d-flex align-items-center">
                    <i class="bi bi-folder2"></i> <span class="ps-2">Teknoloji</span>
                  </div>
                </div>
                <p>{{ post.content|safe|truncatewords_html:40  }}</p>
                <hr>
                <a href="{% url 'post_detail' post.id %}" class="readmore stretched-link"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
              </div>
            </article>
          </div><!-- End post list item -->
          {% endfor %}
        </div>
      </div>
    </section><!-- /Blog Posts Section -->
    <!-- Blog Pagination Section -->
    <section id="blog-pagination" class="blog-pagination section">
      <div class="container">
        <div class="d-flex justify-content-center">
          <ul>
            <li><a href="#"><i class="bi bi-chevron-left"></i></a></li>
            <li><a href="#">1</a></li>
            <li><a href="#" class="active">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li>...</li>
            <li><a href="#">10</a></li>
            <li><a href="#"><i class="bi bi-chevron-right"></i></a></li>
          </ul>
        </div>
      </div>
    </section><!-- /Blog Pagination Section -->
  </main>
  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <!-- Preloader -->
{% endblock %}



 