{% extends 'base.html' %}
{% load static %}

{% block title %} Blog Detail Page {% endblock %}




{% block content %}
    <main class="main">

        <!-- Page Title -->
        <div class="page-title" style="background-image: url({% get_media_prefix %}img/page-title-bg.jpg);">
            <div class="container position-relative">
                <h1>Blog Details</h1>
                <nav class="breadcrumbs">
                    <ol>
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li class="current">Blog Details</li>
                    </ol>
                </nav>
            </div>
        </div><!-- End Page Title -->

        <div class="container">
            <div class="row">

                <div class="col-lg-8 offset-lg-2">

                    <!-- Blog Details Section -->
                    <div id="blog-details" class="blog-details section">
                        <div class="container">

                            <article class="article">

                                <div class="post-img">
                                    <img src="{{ post.image.url }}" alt="" class="img-fluid">
                                </div>

                                <h2 class="title">{{ post.title }}</h2>

                                <div class="meta-top">
                                    <ul>
                                        <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a
                                                href="blog-details.html">{{ post.author }}</a></li>
                                        <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a
                                                href="blog-details.html">{{ post.date_posted }}</a></li>
                                    </ul>
                                </div><!-- End meta top -->

                                <div class="content" style="text-align: justify">
                                    <p>
                                        {{ post.content|safe }}
                                    </p>
                                </div><!-- End post content -->

                                <div class="meta-bottom">
                                    <i class="bi bi-folder"></i>
                                    <ul class="cats">
                                        <li><a href="#">{{ post.author.username }}</a></li>
                                    </ul>
                                </div><!-- End meta bottom -->

                            </article>

                        </div>
                    </div><!-- /Blog Details Section -->

                    <!-- Blog Comments Section -->
                    <section id="blog-comments" class="blog-comments section">

                        <div class="container">
                            {% for comment in comments %}
                                {% if comment.approved_comment %}
                                    <div class="comment d-flex mb-4 p-3">
                                        <div class="flex-shrink-0">
                                            <div class="avatar avatar-sm rounded-circle">
                                                <img class="avatar-img rounded-5"
                                                     src="{{ comment.author.userProfile.profile_picture.url }}"
                                                     alt="avatar" width="40">
                                            </div>
                                        </div>
                                        <div class="flex-grow-1 ms-2 ms-sm-3">
                                            <div class="comment-meta d-flex align-items-baseline">
                                                <h6 class="me-2">{{ comment.author.full_name }}</h6>
                                                <span class="text-muted">{{ comment.date_posted }}</span>
                                            </div>
                                            <div class="comment-body"
                                                 style="text-align: justify">{{ comment.content }}</div>
                                            <div class="comment-body">Beğeni: <span
                                                    style="color: #a52834">{{ comment.rating }}</span> &nbsp; Yıldız
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </section><!-- /Blog Comments Section -->
                    <!-- Comment Form Section -->
                    <section id="comment-form" class="comment-form section">
                        <div class="container">
                            {% if user.is_authenticated %}
                                <form method="post">
                                    {% csrf_token %}
                                    {{ form.as_p }}
                                    <button type="submit" value="submit"> gönder</button>
                                </form>
                            {% else %}
                                <p style="color:#fd2020">Yorum yapmak için üye olmalısınız <b>!</b>  </p>
                            {% endif %}
                        </div>
                    </section><!-- /Comment Form Section -->
                </div>
            </div>
        </div>
    </main>
    <!-- Scroll Top -->
    <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>
{% endblock %}
